# Node.js / Express.js
node_modules/
dist/
build/

# Vite.js
.vite/

# TypeScript
*.tsbuildinfo

# React
/.cache/
/dist/
/build/

# IDE/Editor
.vscode/
.idea/
*.sublime-project
*.sublime-workspace
*.komodoproject
.komodotools/
.jupyter/
.gitlab/
.stack-work/
.project
.settings/
.classpath
.factorypath
.buildpath
.cproject
.apt_generated/
.pydevproject
.pytest_cache/
pytest.ini

# macOS
.DS_Store

# Windows
Thumbs.db
Desktop.ini
