.container {
  width: 548px;
  height: 548px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  .information {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    .textBox {
      width: 548px;
      display: flex;
      flex-direction: column;
      text-align: start;
      justify-content: flex-start;
    }

  }
}