.container {
  margin-top: 9em;
  width: 1200px;
  height: 374px;
  background: #292F36;
  border-radius: 70px;
  margin-bottom: 12.5em;
  .textWrapper {
    padding-top: 5em;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 11px;
    span {
      color: #FFFFFF;
    }
  }
  .buttonWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2em;
    button {
      width: 275px;
      height: 75px;
      font-weight: 600;
      font-size: 18px;
      text-wrap: none;
    }
  }
}