 .container {
    width: 1200px;
    height: 370px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 5em;
    .interno {
      width: 393px;
      height: 188px;

      .logo {
        margin-bottom: 1.125em;
        width: 177px;
        height: 50px;
      }

      .text {
        display: flex;
        width: 393px;
        height: 66px;
        text-align: start;
        margin-bottom: 2em;
      }

      .icons {
        display: flex;
        flex-direction: row;
        width: 225px;
        height: 23px;
        gap: 3.375em;
      }
    }
    .pagesAndServicesWrapper {
      width: 125px;
      height: 370px;

      .navItems {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 2em;

        a {
          text-decoration: none;
        }
      }
    }
    .contactWrapper {
      width: 258px;
      height: 272px;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      text-align: start;
      .textBox {
        width: 258px;
        height: 215px;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        flex-direction: column;
        margin-top: 1.625em;
      }
    }
 }


