.container {
  display: flex;
  width: 585px;
  flex-direction: column;
  .informationWrapper {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    .textPart {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: flex-start;
    }
  }
}