.container {
  width: 580px;
  height: 853px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  .img {
    width: 580px;
  }
  .information {
    width: 580px;
    display: flex;
    flex-direction: row;
    text-align: start;
    justify-content: flex-start;
    .textBox {
      width: 580px;
      display: flex;
      flex-direction: column;
      text-align: start;
      justify-content: flex-start;
    }
  }
}