.container {
    display: flex;
    flex-direction: column;
    width: 378px;
    height: 45px;
    .label{
        display: flex;
        justify-content: flex-start;
    }
    .input{
        border: none;
        border-bottom: 3px solid black;
    }
}