@import "src/styles/global";
.container {
  width: 1199px;
  height: 2720px;
  background-color: $wrapper-color;
  border-radius: 70px;
  margin-top: 8em;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  .textBox {
    width: 802px;
    height: 146px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  .workStepWrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 5em;
  }
}